/* Navbar Styles */

.navbar{
  background-color: #fff;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 10;
  box-shadow: 2px 1px 2px #eee;
  padding-top: 5px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
}

.navbar .logo-img{
  max-height: 17px;
  vertical-align: middle;
  position: relative;
  top: 18px;
}

.navbar-links{
  color: #666666;
  display: flex;
}

.navbar-links>a{
  font-size: 14.4px;
  padding: 20px;
  font-weight: normal;
}

.navbar-links a:hover{
  color:#387ed1;
  font-weight: 500;
}

.navbar-links a.active{
  color:#387ed1;
  font-weight: 500;
}

#navbar-menu{
  padding: 24px 0 20px 15px;
}

.menu-btn-container{
  height: 100%;
  cursor: pointer;
}

#menu-btn{
  position: relative;
  width: 18px;
  transition: .5s ease-in-out;
}

#menu-btn span{
  background-color: #424242;
  width: 100%;
  height: 2px;
  border-radius: 9px;
  position: absolute;
  left: 0;
}

#menu-btn span:nth-child(1){
  top: 0;
}

#menu-btn span:nth-child(2){
  top: 6px;
}

#menu-btn span:nth-child(3){
  top: 6px;
}

#menu-btn span:nth-child(4){
  top: 12px;
}

#menu{
  background-color: #fff;
  width: 700px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 100;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .1);
  border-radius: 1px;
}

.menu-links{
  display: none;  
}

.products-list{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.product{
  flex-basis: 22%;
}

.product a{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .9rem;
}

.product a strong{
  padding: 10px 0px 5px 0px;
}

.product a span{
  color: #9b9b9b;
  font-size: .75rem;
}

.product a img{
  max-height: 50px;
  margin: 0 auto;
}

.menu-footer{
  color: #424242;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  flex-flow: row wrap;
}

.menu-footer p{
  margin: 16px 0 15px;
}

.menu-footer a{
  color: #666666;
  margin-bottom: 5px;
  font-size: 14.4px;
}

.menu-footer-left{
  flex-basis: 47%;
  display: flex;
  justify-content: space-between;
}

.utils, .updates{
  display: flex;
  flex-direction: column;
}

.menu-footer-right{
  flex-basis: 40%;
}

.menu-footer-right a{
  display: inline-block;
  margin-right: 40px;
}

.menu-footer-right img{
  margin-bottom: 10px;
}



/* Home Page Styles */

/* Landing Section Styles */
section.landing{
  margin-top: 10vh;
}

.hero-background{
  color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-background img{
  max-width: 100%;
  max-height: 45vh;
  margin-bottom: 60px;
}

.hero-background h1{
  font-size: 2.75rem;
  line-height: 1.25;
}

.hero-background p{
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

a.cta-btn{
  display: inline-block;
  background-color: #387ed1;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: 3px;
  margin-top: 25px;
  padding: 10px 30px;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.2em;
}

a.cta-btn:hover{
  background-color: #000000;
}



/* Ecosystem Section Styles*/
section.ecosystem{
  width: 100%;
  margin-top: 30px;
}

.eco-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eco-container a{
  color: #387ed1;
}

.eco-container a:hover{
  color: #424242;
}

.eco-left{
  flex-basis: 39.3%;
}

.eco-left h2{
  font-size: 32px;
  margin-bottom: 40px;
}

.eco-left h3{
  font-size: 20px;
}

.eco-left p{
  color: #666666;
  font-size: 16px;
  margin: 5px 0 32px;
}

.eco-right{
  flex-basis: 56.6%;
}
.eco-right img{
  width: auto;
}

.eco-right p{  
  margin: 16px 0 15px;
  text-align: center;
}

.demo-link{
  margin-left: 24px;
}

.press-strip{
  margin-top: 60px;
  text-align: center;
}

.press-strip a{
  display: inline-block;
}



/* Pricing Section */
.pricing-top{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pricing-tl{
  flex-basis: 39.3%;
}

.pricing-tl h2{
  margin-bottom: 20px;
}

.pricing-tl p{
  color: #424242;
  margin-bottom: 15px;
  margin-top: 16px;
}

.pricing-tr{
  display: flex;
  justify-content: space-around;
  flex-basis: 58.6%;
}

.pricing-box{
  display: flex;
  align-items: end;
}

.pricing-box p{
  display: inline-block;
  color: #666666;
  font-size: 10px;
  line-height: 16px;
}

.pricing-box:nth-child(1) p{
  position: relative;
  left: -25px;
}

.pricing-box:nth-child(2) p{
  position: relative;
  left: -25px;
}

.pricing-box:last-child p{
  position: relative;
  left: -7px;
}

.pricing-box img{
  display: inline-block;
  width: 120px;
  position: relative;
  top: 22px;
}

.pricing-bottom{
  color: #387ed1;
  padding-left: 10px;
  margin-bottom: 15px;
}

.pricing-bottom a:hover{
  color: #424242;
}



/* Free Education Section */
.edu-container{
  display: flex;
  justify-content: space-between;
}

.edu-left-item{
  flex-basis: 39.3%;
}

.edu-right-item{
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edu-right-item h2{
  margin-bottom: 20px;
}

.edu-right-item a{
  color: #387ed1;
}

.edu-right-item a:hover{
  color: #424242;
}

.edu-right-item p{
  color: #424242;
  margin-bottom: 15px;
}

.edu-right-item p:nth-child(4){
  margin-top: 30px;
}



/* Kite Section */
section.kite-section{
  text-align: center;
}

.mini-container{
  width: 900px;
  max-width: 100%;
  margin: auto;
}

.kite-container h2{
  margin-bottom: 20px;
}

.kite-container p{
  color:#666666;
  margin: 16px 0 15px;
}

.kite-container a{
  margin-top: 20px;
}



/* Footer Styles */

footer{
  background-color: #fbfbfb;
  border-top: 1px solid #eee;
  padding-top: 30px;
  padding-bottom: 5px;
}

.main-footer{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.main-footer a:hover{
  color: #387ed1;
}

.footer-logo{
  padding: 10px 0;
}

.main-footer p{
  color: #666666;
  font-size: 0.8rem;
}

.main-footer img{
  max-height: 20px;
  width: auto;
}

.social{
  font-size: 20px;
  color: #666666;
}

footer .social{
  margin-top: 15px;
}

footer .social:last-child{
  margin-top: 8px;
}

.social span{
  margin-left: 4px;
  margin-right: 17px;
}

.social span:hover{
  color: #387ed1;
}

.footer-hr{
  margin: 8px 0;
}

.company, .support, .account{
  display: flex;
  flex-direction: column;
}

.company h3, .support h3, .account h3{
  font-size: 18px;
  margin-bottom: 10px;
}

.company a, .support a, .account a{
  color: #666666;
  font-size: 16px;
  line-height: 2;
}

footer .smallprint{
  margin-top: 40px;
}

footer .smallprint p{
  color: #9b9b9b;
  width: 100%;
  font-size: 0.65rem;
  margin-bottom: 10px;
}

footer .smallprint a{
  color: #387ed1;
}

footer .smallprint a:hover{
  color: #424242;
}

.footer-graveyard-links{
  text-align: center;
}

.footer-graveyard-links a{
  color: #9b9b9b;
  font-size: 0.75rem;
  line-height: 4;
  margin-right: 20px;
}

.footer-graveyard-links a:hover{
  color: #387ed1;
}



/* CreateAccount Wrapper Styles */
.create-account{
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.account-open-section{
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
}

.register-container{
  display: flex;
  justify-content: space-between;
}

.rc-left{
  flex-basis: 56.6%;
}

.rc-right{
  flex-basis: 30.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}

.register-info{
  text-align: left;
}

.register-info p{
  color: #9b9b9b;
  font-size: .75rem;
  margin: 10px 0;
}

.register-info a{
  color: #387ed1;
}



/* Signup Styles */
.signup-form{
  width: 100%;
}

.signup-form h2{
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.signup-form>p{
  color: #9b9b9b;
  margin-bottom: 25px;
}

.signup-form form{
  margin-bottom: 40px;
}

.mobile-input{
  position: relative;
  width: 100%;
}

.mobile-input label{
  background-color: #fff;
  color:#9b9b9b;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0px 5px;
  margin-left: 2px;
  position: absolute;
  left: 8px;
  top: -6px;
  z-index: 5;
}

.mobile-input input{
  width: 100%;
  font-size: 0.875rem;
  border: 1px solid #e3e3e3;
  padding: 10px 15px 10px 50px;
  border-radius: 3px;
}

.mobile-input input::-webkit-inner-spin-button,
.mobile-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mobile-input span{
  font-size: 0.875rem;
  position: absolute;
  left: 10px;
  top: 10px;
}

.mobile-input input::placeholder{
  font-size: 0.875rem;
}

.signup-form .invalid{
  border-color:#f6461a;
}

#visible{
  display: block;
}

.error-state{
  display: none;
  color: #f6461a;
  font-size: 0.875rem;
}

.input-status{
  color: #9b9b9b;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.nri{
  margin-top: 10px;
  font-size: 12px;
  color: #387ed1;
  cursor: pointer;
}



/* ValidatePhone Styles */
.validate-form-container{
  width: 100%;
}

.validate-form-container h2{
  font-size: 1.8rem;
  line-height: 2;
}

.vf-subtext{
  font-size: 16px;
  margin-bottom: 25px;
}

.vf-subtext a{
  color: #387ed1;
}

.validate-form{
  margin-bottom: 2.5rem;
}

.otp-input{
  position: relative;
  width: 100%;
}

.otp-input label{
  background-color: #fff;
  color:#9b9b9b;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0px 5px;
  margin-left: 2px;
  position: absolute;
  left: 8px;
  top: -6px;
  z-index: 5;
}

.otp-input input{
  width: 100%;
  font-size: 0.875rem;
  border: 1px solid #e3e3e3;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.otp-input input::-webkit-inner-spin-button,
.otp-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-input input::placeholder{
  font-size: 0.875rem;
}

.resend-option{
  color: #424242;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 15px;
}

.resend-option a{
  color: #387ed1;
}



/* UserInfo Styles */
.user-info{
  width: 100%;
}

.user-info h3{
  color: #424242;
  font-size: 1.8rem;
  line-height: 3;
  margin-bottom: 20px;
}

.user-info img{
  height: 16px;
  margin-right: 10px;
}

.user-info form{
  margin-bottom: 2.5rem;
}

.user-info form button:first-child{
  width: 100%;
  display: flex;
  align-items: center;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.user-info form button:first-child:hover{
  color: #fff;
  background-color: #a5a5a5;
}

.sep span{
  color: #9b9b9b;
  display: inline-block;
}

.sep span:nth-child(1){
  width: 45%;
  border-top: 1px solid #e1e1e1;
}

.sep span:nth-child(2){
  width: 10%;
  text-align: center;
  position: relative;
  top: 3px;
  margin-bottom: 15px;
}

.sep span:nth-child(3){
  width: 45%;
  border-top: 1px solid #e1e1e1;
}

:is(.lead-name, .lead-email){
  position: relative;
  width: 100%;
}

:is(.lead-name, .lead-email) label{
  background-color: #fff;
  color:#9b9b9b;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0px 5px;
  margin-left: 2px;
  position: absolute;
  left: 8px;
  top: 0px;
  z-index: 5;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

:is(.lead-name, .lead-email) input{
  width: 100%;
  font-size: 0.875rem;
  border: 1px solid #e3e3e3;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 20px;
}

:is(.lead-name, .lead-email) input:focus + label {
  visibility: visible;
  top: -6px;
  opacity: 1;
}

:is(.lead-name, .lead-email) input:focus::placeholder{
  color: #fff;
}



/* About Styles */
.about section{
  padding-top: 80px;
}

:is(.about-history, .ceo-container) a{
  color: #387ed1;
  font-weight: 500;
}

.about section a:hover{
  color: #424242;
}

.about-header{
  padding: 100px 0;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 1px solid #eee;
}

.mini-container{
  width: 900px;
  margin: auto;
  max-width: 100%;
}

.history-content p{
  color:#424242;
  margin: 15px 0;
}

.ceo-container{
  padding: 40px 0 100px 0;
}

.founder-image{
  height: 295px;
  aspect-ratio: 1;
  border-radius: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.ceo-container .ceo-about p{
  color: #424242;
  margin: 15px 0;
}

.team-members{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.member{
  padding: 20px 50px 40px 50px;
  flex-basis: 30.6%;
  text-align: center;
}

.member img{
  width: 100%;
  border-radius: 100%;
  margin-bottom: 10px;
}

.member p:not(:last-child){
  font-size: 0.9rem;
  color: #666666;
}

.show-bio{
  margin-top: 5px;
}

.show-bio a{
  color: #424242;
  font-weight: 500;
  cursor: pointer;
}

.show-bio svg{
  margin-left: 8px;
}

.bio{
  color: #424242;
  font-size: 1rem;
  text-align: left;
  margin: 15px 0;
}

/* Support Page Styles */
.faq-head-section{
  color: #fff;
  background: #387ed1;
  padding: 35px 0px 85px 0;
}

.support-portal-logo{
  font-size: 1.275rem;
  font-weight: 500;
}

.track-tickets{
  font-weight: 500;
  border-bottom: 1px solid #fff;
  padding-bottom: 0px;
  position: relative;
  bottom: 3px;
}

.support-subheading{
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 30px;
}

.search-inp-grp{
  height: 58px;
  background:#fff;
  margin-bottom: 15px;
  padding: 10px 0px 10px 10px;
  border-radius: 2px;
  position: relative;
}

.search-inp-grp span{
  position: absolute;
  right: 20px;
  top: 15px;
  color: #666666;
}

.search-inp-grp span svg{
  width: 20px;
  height: 20px;
}

.search-text{
  color: #222;
  height: 38px;
  width: 89%;
  padding: 0;
}

.search-text:focus{
  outline: none;
}

.super-links p{
  display: inline-block;
  margin-bottom: 15px;
}

.super-links a{
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
  margin-right: 20px;
}

.featured{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-header{
  margin-bottom: 15px;
  font-size: 1.275rem;
  font-weight: 500;
}

.featured ol{
  list-style:decimal;
  padding-inline-start: 40px;
}

.featured ol li{
  margin-bottom: 20px;
}

.featured ol a{
  border-bottom: 1px solid #fff;
}

.faq-content-section{
  padding-top: 20px;
  padding-bottom: 80px;
}

.faq-content-section h2{
  color: #666;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  margin-top: 20px;
}

.card-block{
  margin-bottom: 30px;
}

.card-block svg{
  padding-right: 10px;
}

.card-block h3{
  color: #222222;
  margin-bottom: 20px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
}

.card-block h3:hover{
  color: #387ed1;
}
.card-block p{
  padding-left: 31px;
  margin-block: 7px;
}

.card-block p a{
  color: #387ed1;
  font-size: 14px;
}

.card-block p a:hover{
  color: #666666;
}

/* Products Styles */
.products-header{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #eee;
}

.landing-subheading{
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 15px;
}

.products-header a{
  color: #387ed1;
  font-weight: 500;
}



/* Media Queries */
@media screen and (max-width: 1125px) {
  .pricing-box img{
    width: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .navbar{
    padding: 5px 20px 0px 20px;
  }

  section{
    padding: 0 20px;
  }

  footer .container{
    padding: 0 20px;
  }

  .faq-head-section, .faq-content-section{
    padding-left: 20px;
    padding-right: 20px;
  }

  .products-header{
    padding-inline: 20px;
  }
}

@media screen and (max-width: 1020px) {
  .pricing-box img{
    width: 95px;
  }

  .pricing-box:nth-child(1) p{
    left: -20px;
  }
  
  .pricing-box:nth-child(2) p{
    left: -20px;
  }
  
  .pricing-box:last-child p{
    left: -6px;
  }
}

@media screen and (max-width: 995px) {
  .pricing-tr{
    flex-wrap: wrap;
  }

  .pricing-box img{
    width: 85px;
  }
  
  .pricing-box:nth-child(1) p{
    top: 5px;
    left: -15px;
  }
  
  .pricing-box:nth-child(2) p{
    top: 5px;
    left: -15px;
  }
  
  .pricing-box:last-child p{
    top: 5px;
    left: -5px;
  }
}

@media screen and (max-width: 960px) {
  .navbar{
    height: 65px;
  }

  .navbar .logo-img{
    width: 150px !important;
    height: auto;
    max-height: 100px;
    position: relative;
    top: 15px;
    vertical-align: middle;
  }

  .navbar-links>a{
    display: none;
  }

  #navbar-menu #menu-btn{
    position: absolute;
    top:4;
    right:0;
    z-index: 101;
  }

  .open span:nth-child(1){
    visibility: hidden;
  }
  
  .open span:nth-child(2){
    transform: rotate(45deg);
    top: 7;
  }
  
  .open span:nth-child(3){
    transform: rotate(-45deg);
    top: 7;
  }
  
  .open span:nth-child(4){
    visibility: hidden;
  }

  #navbar-menu #menu{
    width: calc(100% + 20px);
    top: 10px;
    left:-10px;
    padding-top: 15px;
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), 0 -18px 60px -10px rgba(0, 0, 0, .025);
    border-radius: 3px;
    overflow: auto;
  }

  .menu-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 20px 20px;
  }

  .menu-links a{
    font-size: 14.4px;
    padding: 7px;
  }

  .products-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 20px 10px 20px;
  }

  .products-list img{
    width: 30px;
  }

  .product a{
    flex-direction: row;
  }
  
  .product a img{
    margin: 0;
  }

  .product a span{
    display: none;
  }

  .menu-footer{
    flex-direction: column-reverse;
    padding: 0px 20px 20px;
  }

  .menu-footer-left{
    padding-left: 10px;
    padding-top: 20px;
    justify-content: start;
  }

  .utils{
    flex-grow: 1;
  }

  .updates{
    flex-grow: 1;
  }

  .menu-footer-right{
    flex-direction: row;
  }

  .menu-footer-right p{
    display: none;
  }

  .menu-footer-right a{
    display: flex;
    margin: 0;
  }

  .education{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-weight: 500;
  }

  .education img{
    width: 18px;
    margin: 0 8px 0 5px;
  }
}

@media screen and (max-width: 900px){
  .pricing-tr{
    justify-content: start;
  }
}

@media screen and (max-width: 800px){
  .navbar .container{
    overflow: visible;
  }

  .container{
    overflow: auto;
  }

  .eco-container{
    flex-direction: column;
  }

  .pricing-top{
    flex-direction: column;
  }

  .pricing-tr{
    margin-bottom: 30px;
  }

  .edu-container{
    flex-direction: column;
  }

  .edu-left-item{
    margin: 0 auto;
  }
  
  .edu-left-item img{
    margin-bottom: 30px;
  }

  .main-footer{
    flex-direction: column;
    margin-bottom: 20px;
  }

  .main-footer>div:not(:last-child){
    margin-bottom: 40px;
  }

  footer .smallprint{
    margin-bottom: 20px;
  }

  .footer-graveyard-links{
    text-align: left;
  }

  .create-account{
    padding: 30px !important;
  }

  .account-open-section{
    width: 85%;
    padding: 0 !important;
  }

  .register-container{
    flex-direction: column;
  }

  .rc-right{
    margin-left: 0px;
  }

  .about section{
    padding-left: 20px;
    padding-right: 20px;
  }

  .history-content{
    flex-direction: column;
  }

  .ceo-container{
    flex-direction: column;
  }

  .founder-image{
    width: 60% !important;
    height: auto;
  }

  .team-members{
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .team-members img{
    width: 60% !important;
    margin: 0 auto;
  }

  .member{
    padding: 20px 0 !important;
  }

  .faq-head-section{
    padding: 0px 20px 85px 20px;
  }

  .support-portal-logo{
    flex-basis: 30%;
    font-size: 16px;
  }

  .track-tickets{
    font-size: 14px;
  }

  .support-container{
    flex-direction: column;
  }

  .support-subheading{
    display: none;
  }

  .search-inp-grp{
    height: 44px;
    padding: 3px;
  }

  .search-inp-grp span{
    top: 10px;
    right: 10px;
  }

  .search-text{
    padding-left: 10px;
  }

  .super-links p{
    display: block;
  }

  .card-block-container{
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 20px !important;
  }
}

@media screen and (max-width: 550px) {
  .navbar .logo-img{
    max-width: 110p x;
    top: 25px;
  }
}

@media screen and (max-width: 400px) {
  .account-open-section{
    width: 100%;
  }
}